<!DOCTYPE html>
<html lang="en">
  <head>

    <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fridge Data</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{url_for('static', filename='table.js')}}"></script>

  </head>
  <body >

    <input type="text" id="myInput" onkeyup="search()" placeholder="Search for names..">
    <select class="custom-select" id="inputGroupSelect01">
      <option selected>Choose...</option>
      <option value="1" onselect="energytoggle()">No</option>
      <option value="0" onselect="energytoggle()">Yes</option>
    </select>
    </div>
    <table id = "fridge" class = "styled-table"> 
      <tr>
        {%for k,v in data[0].items()%}
          <th>
            {{ v }}
          </th>
        {% endfor %}
      </tr>
      
      {%for dict in data[1:] %}
        <tr>
          {% set model_number = dict['model_number'] %}
          {% set model_number = model_number | replace("/", "%2f") %}
          {%for k,v in dict.items()%}
            <td>
              <a name = {{k}} href = "{{url_for('details', model_number=model_number)}}">{{ v }}</a>
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
    <table id = "HWSN items">
    </table>
  </body>
</html>